/* Main styles============== */

html {
  font-size: 15px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 288px;
  width: 100%;
  overflow: hidden;
}

.main__img {
  position: relative;
}

.foreground {
  position: absolute;
  bottom: 0;
  left: 0;
}

.background,
.foreground {
  width: 288px;
  height: auto;
  display: block;
  z-index: 100;
}

.bird {
  position: absolute;
  top: 200px;
  left: 10px;
  transition: all .1s linear;
}

.barriers {
  position: absolute;
  transition: all .5s linear;
  height: 100%;
  width: 52px;
  right: 0;
  top: 0;
  transform: translateX(0px);
}

.barriers__inner {
  position: relative;
  height: 100%;
}

.top__barrier,
.bottom__barrier {
  position: absolute;
}

.top__barrier {
  top: 0;
}

.bottom__barrier {
  top: 302px;
}

.count {
  position: absolute;
  top: 10px;
  left: 20px;
}

.count {
  font-family: 'Chelsea Market', cursive;
  font-size: 20px;
  color: rgb(14, 85, 0);
  z-index: 999999;
  font-weight: 600;
}

.reload__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999999;
  border: none;
  background-color: rgba(42,158,37,0.5);
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  display: none;
}

.reload__btn:focus {
  outline: none;
}

.reload__btn:hover {
  opacity: 0.8;
}